In [14]:
import pandas as pd

df = pd.read_csv('drive/MyDrive/adult.data.csv')

df

       age         workclass  fnlwgt  ... hours-per-week  native-country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]

How many of each race are represented in this dataset?

In [15]:
race_count = pd.Series(df.groupby(df['race']).size())

race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

What is the average age of men?

In [16]:
round(df.loc[df['sex']=='Male','age'].mean(),1)

39.4

What is the percentage of people who have a Bachelor's degree?

In [17]:
round(df.loc[df['education']=='Bachelors','education'].count()/df['education'].count()*100,1)

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?  
What percentage of people without advanced education make more than 50K?

In [18]:
    higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
    lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [19]:
round(len(higher_education[higher_education['salary']=='>50K'])/len(higher_education)*100,1)

46.5

In [20]:
round(len(lower_education[lower_education['salary']=='>50K'])/len(lower_education)*100,1)

17.4

What is the minimum number of hours a person works per week?

In [21]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [22]:
num_min_workers = len(df[df['hours-per-week']==min_work_hours])

min_workers = df[df['hours-per-week']==min_work_hours]

round(len(min_workers[min_workers['salary']=='>50K'])/num_min_workers*100,1)

10.0

What country has the highest percentage of people that earn >50K?

In [23]:
highest_earning_country = (df[df['salary']=='>50K']['native-country'].value_counts()/df['native-country'].value_counts()*100).idxmax()
highest_earning_country

'Iran'

In [24]:
round(len(df[(df['salary']=='>50K') & (df['native-country']==highest_earning_country)])/len(df[df['native-country']==highest_earning_country])*100,1)

41.9

Identify the most popular occupation for those who earn >50K in India.

In [25]:
df[(df['native-country']=='India') & (df['salary']=='>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'